.app {
  border: green solid 5px;
}

.header {
  display: flex;
  gap: 7px;
  border: red solid 5px;
  margin: 7px;
  padding: 4px;
}

.register {
  margin: 7px;
  padding: 1px;
  border: blue solid 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dashboard {
  border: blue solid 5px;
  padding: 1px;
  margin: 7px;
}

.newArticle {
  margin: 7px;
  padding: 1px;
  border: orange solid 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login {
  margin: 7px;
  padding: 1px;
  border: purple solid 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 440px;
  height: 30px;
}
.registerButton,
.loginButton {
  color: white;
  background-color: rgb(0, 102, 255);
  border-radius: 3px;
  width: 450px;
  height: 40px;
}

.successMessage {
  height: 60px;
  width: 450px;
  background-color: rgba(163, 207, 163, 0.692);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 18px;
  margin-bottom: 10px;
}
.failMessage {
  height: 60px;
  width: 450px;
  background-color: rgb(252, 165, 165);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(136, 63, 63);
  font-size: 18px;
  margin-bottom: 10px;
}
